$sprite-url:  '/img/spritesheet.png';

.skills .tooltipped{
  margin:10px auto;
}
.bitbucketIco {
   background: url($sprite-url) no-repeat -404px -302px;
   width: 100px;
   height: 100px;
}
.githubIco {
   background: url($sprite-url) no-repeat -303px -303px;
   width: 100px;
   height: 100px;
}
.gitlabIco {
   background: url($sprite-url) no-repeat -101px -101px;
   width: 100px;
   height: 100px;
}
.gulpIco {
   background: url($sprite-url) no-repeat -404px -203px;
   width: 100px;
   height: 98px;
}
.html5Ico {
   background: url($sprite-url) no-repeat -202px -202px;
   width: 100px;
   height: 100px;
}
.ionicIco {
   background: url($sprite-url) no-repeat -303px -101px;
   width: 100px;
   height: 100px;
}
.jqueryIco {
   background: url($sprite-url) no-repeat -0px -202px;
   width: 100px;
   height: 100px;
}
.jsIco {
   background: url($sprite-url) no-repeat -101px -303px;
   width: 100px;
   height: 100px;
}
.lightroomIco {
   background: url($sprite-url) no-repeat -303px -0px;
   width: 100px;
   height: 100px;
}
.materializeIco {
   background: url($sprite-url) no-repeat -0px -303px;
   width: 100px;
   height: 100px;
}
.mongodbIco {
   background: url($sprite-url) no-repeat -202px -101px;
   width: 100px;
   height: 100px;
}
.npmIco {
   background: url($sprite-url) no-repeat -101px -0px;
   width: 100px;
   height: 100px;
}
.reactIco {
   background: url($sprite-url) no-repeat -0px -101px;
   width: 100px;
   height: 100px;
}
.sassIco {
   background: url($sprite-url) no-repeat -101px -202px;
   width: 100px;
   height: 100px;
}
.padIco {
   background: url($sprite-url) no-repeat -404px -102px;
   width: 100px;
   height: 100px;
}
.angularIco {
   background: url($sprite-url) no-repeat -303px -202px;
   width: 100px;
   height: 100px;
}
.jiraico {
   background: url($sprite-url) no-repeat -404px -0px;
   width: 100px;
   height: 101px;
}
.cssIco {
   background: url($sprite-url) no-repeat -202px -303px;
   width: 100px;
   height: 100px;
}
.nodeJsIco {
   background: url($sprite-url) no-repeat -202px -0px;
   width: 100px;
   height: 100px;
}
.MySQLIco {
   background: url($sprite-url) no-repeat -0px -0px;
   width: 100px;
   height: 100px;
}
