//parallax template from material
@import "parallax-template";

//components
@import "global";

//icons
@import "icons";

nav .right a:hover{
  color: #F07A7A;
}
div:focus{
outline: none;
}
#logo-container img{
  height: 50px;
  margin: 6px 20px;
}
.banner-tile{
  height: 239px;
  padding:0 !important;
}
.flip-card{
  height: 100%;
  width:100%;
  border:0.25px solid #dddddd;
}
.tooltipped{
  cursor: pointer;
}
@media screen and (max-width: 992px) and (min-device-width: 481px) {
  #main-banner.parallax-container .section{
    top:0%;
  }
  #main-banner{
  height: 478px;
  }
}
@media screen and (max-device-width: 481px) {
  #main-banner{
  height: 478px;
  }
}

.tile-title-01{
  font-size: 10em;
  margin: 0;
  line-height: initial;
}
.psd-catlg{
  img{
    max-width:200%;
  }
  img.active{
    max-width: inherit;
  }
}
