//parallax template from material
@import "parallax-template";

//components
@import "global";

//icons
@import "icons";

//------------------------ Typewriter
.typewriter-outer {
  background: #333;
  padding-top: 35vh;
  position: fixed;
  height: 100%;
  width:100%;
  z-index: 2;
  justify-content: center;
}

.typewriter h2 {
  max-width: 80%;
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  font-size: 4vw;
  text-align: center;
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
.say-hi{
  color:#f07a7a;
  text-transform: lowercase;
  margin-top: 20px;
  opacity: 0.7;
}
//------------------------ Typewriter

nav .right a:hover{
  color: #F07A7A;
}
div:focus{
outline: none;
}
#logo-container img{
  height: 50px;
  margin: 6px 20px;
}
.banner-tile{
  height: 239px;
  padding:0 !important;
}
.flip-card{
  height: 100%;
  width:100%;
  border:0.25px solid #dddddd;
}
.tooltipped{
  cursor: pointer;
}
@media only screen and (max-width: 992px) {
  .parallax-container .section {
    top: 0% !important;
  }
  #main-banner{
    height: 478px;
  }
}
.tile-title-01{
  font-size: 10em;
  margin: 0;
  line-height: initial;
}
.psd-catlg{
  img{
    max-width:200%;
  }
  img.active{
    max-width: inherit;
  }
}
